QtProject.conf
Xplist/
atuin/
droidcam
glib-2.0/
hypr/initial-boot.sh
ic005k/
obs-studio/
nvim/
qBittorrent/
glab-cli/
.dart-cli-completion/
flutter/
configstore/
functions/
tool_state
.android/
.gsd-keyboard.settings-ported
Android Open Source Project/
background
dconf/
evolution/
fvm/
gnome-initial-setup-done
gnote/
go/
gtk-3.0/bookmarks
htop/
ibus/
mimeapps.list
monitors.xml
monitors.xml~
pipewire/
portals.conf
pulse/
qutebrowser/quickmarks
service/
tool_state
totem/
yelp/
Defold/
GIMP/
blender/
electron-builder.json
eog/
evince/
flow/
github-copilot/
godot/
thorium/
torbrowser/
vesktop/
